.header {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: "Plumb";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden !important;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.title {
  font-weight: 900;
  color: #D60000;
  font-size: 70px;
  line-height: 71%;
  letter-spacing: -7px;
  text-transform: uppercase;
}

.sub-title {
  font-weight: 900;
  font-style: Black;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 8px !important;
  text-transform: uppercase;
  margin-top: 10px;
  color: black;
  max-width: 623px;
  display: flex;
  justify-content: space-between;
}

.show-more-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #D60000;
  display: flex;
  gap: 13px;
}

@media (max-width: 950px) {
  .footer-right {
    display: none !important;
  }
  .menu-btn {
    display: block !important;
  }
  .footer-link.location-link {
    max-width: 100%;
  }
  .footer-left {
    width: 100%;
    justify-content: space-between;
  }
  .red-line {
    display: none !important;
  }
  .footer-top {
    padding: 0 20px;
  }
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .footer-bottom .container {
    flex-direction: column !important;
    justify-content: start !important;
    align-items: center !important;
  }
  .footer-bottom .footer-bottom-right {
    flex-direction: column !important;
    gap: 0 !important;
  }
}
@media (max-width: 375px) {
  .footer-left {
    flex-direction: column !important;
    gap: 12px !important;
  }
  .footer-link-box {
    gap: 12px !important;
  }
}
.advantages-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages-card-title-black {
  font-weight: 900;
  font-size: 100px;
  line-height: 85%;
  letter-spacing: -15px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.advantages-card-info {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.6px;
  max-width: 163px;
  margin-bottom: 22px;
}
.advantages-card-info.red {
  color: #D60000;
}

.advantages-card-title-red {
  font-weight: 900;
  font-size: 100px;
  line-height: 85%;
  letter-spacing: -15px;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: #D60000;
}

.advantages-card {
  opacity: 1;
  border-width: 7px;
  display: flex;
  flex-direction: column;
  padding-left: 34px;
  padding-top: 82px;
}
.advantages-card .advantages-card-title-black {
  margin: 0 !important;
}
.advantages-card.red {
  width: 272px !important;
  height: 522px !important;
  position: relative;
  z-index: 5;
  border: 7px solid #000000;
  padding-left: 34px;
  padding-top: 82px;
}
.advantages-card.red .advantages-card-title-red {
  margin: 0;
}
.advantages-card.red .card-map-img {
  position: absolute;
  top: 122px;
  right: -100px;
  z-index: -1;
  opacity: 1;
  transform: rotate(13deg);
}
.advantages-card.red .buy-car-btn {
  width: 218px;
  background-color: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 92px;
  position: absolute;
  right: 227px;
  top: 392px;
}
.advantages-card.red .buy-car-btn button {
  font-weight: 700;
  white-space: nowrap;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 79%;
  letter-spacing: 20%;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: none;
  background-color: #D60000;
  padding: 20px 35px;
}

.advantages-card-box {
  display: flex;
  justify-content: space-between;
}

.advantages-section {
  margin-top: 136px;
  margin-bottom: 46px;
}

.auction-card {
  width: 376px;
}

.card-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #D60000;
  margin-top: 20px;
  margin-bottom: 16px;
}

.auction-card-info {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 2.5%;
  margin-bottom: 40px;
}

.auction-cards {
  display: flex;
  gap: 44px;
}

.info-red-card {
  position: relative;
  width: 380px;
  height: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 24px;
  padding-right: 24px;
}
.info-red-card .info-red-card-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.info-red-card * {
  position: relative;
  z-index: 2;
}
.info-red-card .show-more-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 13px;
  color: white;
}

.info-red-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #D60000;
  opacity: 0.8;
  z-index: 1;
}

.red-card-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 109%;
  text-transform: uppercase;
  color: white;
  position: relative;
  z-index: 2;
}

.cards-box {
  display: flex;
  gap: 39px;
}

.info-section {
  background: url(../images/info-bg.png) no-repeat center center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 153px;
}

.footer {
  background-color: #000;
  color: #fff;
  position: relative;
  padding-top: 30px;
  padding-bottom: 32px;
}
.footer .container {
  display: flex;
  gap: 121px;
  margin-top: 37px;
  align-items: start;
}

.footer-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 174%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff !important;
}

.assorti-footer-logo {
  display: flex;
  justify-content: center;
}

.location-link {
  gap: 4px;
  align-items: start;
  max-width: 166px;
}

.footer-link.vk {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer-link-box {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.footer-link-box.second {
  gap: 6px;
}

.footer-left {
  display: flex;
  gap: 40px;
  align-items: start;
}

.footer-title {
  font-weight: 700;
  color: #D60000;
  margin-bottom: 7px;
  font-style: Bold;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-right-first {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footer-right {
  display: flex;
  gap: 57px;
  align-items: start;
}

.footer-right-first.third {
  margin-left: 8px;
}

.footer-right-first.last {
  margin-left: 15px;
}

.footer-bottom {
  background-color: #D60000;
  padding-top: 5px;
  padding-bottom: 10px;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .footer-bottom-right {
  display: flex;
  gap: 190px;
}

.red-line {
  width: 458px;
  height: 1px;
  background-color: #D60000;
}

.red-line.right {
  width: 458px;
  height: 1px;
  background-color: #D60000;
  z-index: 1;
}

.footer-link.bottom {
  font-weight: 400;
  font-size: 10px !important;
  line-height: 174%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff !important;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: none;
}

/*# sourceMappingURL=style.css.map */
